html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #F6EFD8; /* manteca */
}

#app {
  min-height: 100%;
  background: #F6EFD8; /* manteca */
}

/* opcional: evita “rebote” raro en mobile */
body {
  overflow-x: hidden;
}